<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>duceLeadership</title>
  <!-- CSS only -->
<!-- JS, Popper.js, and jQuery -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <!-- Creating the homepage -->
  <body>
    <!-- This is the beginning of the navbar -->
    <nav class="navbar navbar-expand-md navbar-light p-3 mb-2 bg-info text-white">
      <a class="navbar-brand" href="#"><h2>DUCE LEADERSHIP INITIATIVE</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#meetThefounder">Meet the founder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              What we do
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">action 3</a>
            </div>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="#">Support US</a>
          </li>
        </ul>

      </div>
    </nav>
    <!-- This is the end of the Navbar -->
    <!-- This is the beginning of the meet the founder page -->
     <div id = "meetTheFounder" class="ml-5 pb-5">
       <div class="row">
         <div class="col-md-6 ">
       <p>
        <img src="/images/chikomo_pic.jpg" class="img-fluid" alt="Founder">
         Charline Prazen Chikomo A.K.A DUCE OF AFRICA was born in Mberengwa ( Zimbabwe on 30 January 1999.
          The life story of Charline Prazen Chikomo ( Duce of Africa) can never be explained exclusively 
          from dropping out of school, homelessness, hunger, and starvation failing to afford education, 
          or uniform to wear, hit by the reality of life, abandonment, and the pain of poverty, going to 
          school with only three things with him: oversized trousers that will become a symbol of identification 
          for a long time, a cream shirt rather than a white one that was required, and a big dream in his head 
          that scares him every night. For many at that time, his look was a sight of laughter, just as bullying,
           rejection, and isolation became things that he would have to confront day by day. But with ideas in his
            head, a dream insight, and a purpose to drive him, he persevered through all that life had to offer him.

       </p>
       <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iGxINDWs0y8&t=1s" allowfullscreen></iframe>
      </div>
            <p>

             Out of that laughter and development, isolation and bullying came a mountain of strength, courage, and
              motivation. Due to financial and family-related issues, Charline Chikomo had to miss school from 2005- 2010,
               which was a challenging time for him associated with all the problems mentioned above. Through the help of 
               good wishers and extended family, Charline Chikomo attended grade 7 at Shenjere Primary School in Gutu. 
               It was a difficult moment for him because he has not been going to school all this time. However, he managed 
               to come up with 14 Units but very promising because he is someone who has been through a lot during such a young age. 
               He was fortunate enough to start his form 1 in Masvingo in January 2012, making his first appearance in an urban area 
               through the help of good wishers whom among them include but not limited to the teachers of Ndarama High School who 
               from his story saw great potential and decided to help. In 2014, however, he made a turnaround decision that his background 
               is not the reason for me to be at the back or an excuse for failure but as the chief reason why he should be more severe 
               than anyone else. He was in the top ten, got 7As and Bs at an ordinary level, and finally 20points Advanced level 
               ( History A, Shona A, Divinity A, and Geography A ). He also pushed me to find myself in the Junior Parliament of Zimbabwe,
                pushing the agenda of the young people. It was during his time at High School and with his strong desire to help other that
                 he was appointed to save in the Junior Parliament of Zimbabwe advocating for Children's rights, he was the Vice Headboy, 
                 Chairman of the Scripture Union, Public Speaking and Debate, Chairman of the Environmental Club, but also engaged in 
                 charitable works that included helping children living in the streets to read and write, fundraising for the orphanages 
                 and the Old Peoples homes. To mention but few. As one of the national best students, he found that as an opportunity to 
                 start solving that problem that affected him for so many years, he dropped out of school. He registered his youth-led organization,
                  which was called" Duce Tutoring," that works on educating those who can not afford through seminars and fundraising to raise their 
                  examination fees. The founding ideal of Duce Tutoring is anchored in the very belief that made the Teachers of Ndarama feed him, 
              clothe him, and give him hope; believe that each one of us is because the rest are. For him, there could be no genuine way of paying
              back then committed to educating the next generation and provide a way out for those who have the courage, have the brilliance,
                 
       </p>
    </div>

       <div class="col-md-6">
        <p>
              
                and dream the ambition of doing great things in life but do not have the means to do so.He also managed to write books in trying 
                to solve the problem of shortage of textbooks in rural areas, for example, at Shenjere Primary school, where they used to read
                one book, 40 students, once making it difficult to pass. 
                  Seminars were also done all over the country by the 18-year-Old - Charline 
                     Prazen Chikomo. Not forgetting the fact that inspirational sessions were also done with him using his story as a practical example 
                     that it is doable no matter the background. In his words, he would always say, "Loss of a battle does not signal the end of the war,
                      keep your guns blazing until you win the war for failure is not failure but a step towards success." What was surprising is not just 
                      that he was 18 years old but also the fact that he did have any donors or leaders working with him, but he desired to educate them 
                      so that they could turn out to be leaders and donors in the organization. That's when he adopted the theme, "Educate them to educate others. 
                      Many students performed so well from these tutorials, but after these high school lessons, many would be found in the streets without jobs. 
                      Charline Prazen Chikomo being an innovative leader and a problem solver came up with the Duce Leadership Initiative, 
                      is a Christian non-profit organization formed based on creating a platform where young people can discover, develop, and 
                      unleash their potential through the five key pillars namely,  Duce Academy, Leadership Initiative, Dynamic Youths, Hope of
                       Nation and the Duce Community Fund for  Human beings have not been given the privilege to choose a family to be born in.
                        Had there been such an opportunity, families of the so-called successful would be the most overpopulated. However, the
                         future is hidden in each and everyone in the form of a gift or a skill. The Biblical proverbs made it very clear, 
                         "A man's gift will open a room for him to sit amongst the kings of this world." Therefore, success is not a 
                         chair reserved for the sons and daughters of the rich, who are ready to unleash and maximize their potential. 
                         Duce Leadership will be that bulldozer to help in unleashing the youth's potential through our 5star program 
                         in the same way that our founder unleashed through the help of others.human beings have not been given the privilege
                          to choose a family to be born in. Had there been such an opportunity, families of the so-called successful would be 
                          the most overpopulated. However, the future is hidden in each and everyone in the form of a gift or a skill. 
                          The Biblical proverbs made it very clear, "A man's gift will open a room for him to sit amongst the kings of this world." 
                          Therefore, success is not a chair reserved for the sons and daughters of the rich by those that are ready to 
                          unleash and maximize their potential. Duce Leadership will be that bulldozer to help in unleashing the 
                          potential of the youths through our 5star program in the same way that our founder was unleashed through the help of others.
          Today Charline Prazen Chikomo is a National Presenter, an Author, a Preacher, a Motivational Speaker, a Role model, A mentor, a Student, a young
           leader but also a source of inspiration at such a young age

        </p>
       </div>

     </div>



  </body>
</html>
